<div class="container-fluid" style="background-color: #0a0a0a;">
        <nav class="navbar navbar-expand-md navbar-dark container" style="background-color: #0a0a0a;">
            <a class="navbar-brand" href="index.jsp">
                <img src="imggym/trainerlogo.JPG" width="550" height="125" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-3">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="actionClientes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Clientes
                         </a>
                        <div class="dropdown-menu" aria-labelledby="actionClientes">
                            <a class="dropdown-item" href="/clients/">Listar Clientes</a>
                            <a class="dropdown-item" href="/clients/add">Añadir Clientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="actionClientes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Entrenadores
                         </a>
                        <div class="dropdown-menu" aria-labelledby="actionClientes">
                            <a class="dropdown-item" href="/trainers/">Listar Entrenadores</a>
                            <a class="dropdown-item" href="/trainers/add">Añadir Entrenadores</a>
                        </div>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="nosotros.jsp">Entrenamientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="contactenos.jsp">Contactenos</a>
                    </li>
                </ul>
                <span class="navbar-text text-white">
                  
                </span>
            </div>
        </nav>
    </div>