<div class="container-fluid">
    <div>
        <h3>Lista Usuarios</h3>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <td>CODIGO</td>
                <td>NOMBRE</td>
                <td>APELLIDO</td>
                <td>SEXO</td>
                <td>DIRECCION</td>
                <td>TIPO_MEMBRESIA</td>
                <td>Accion</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>